{% import "_includes/forms" as forms %}

{{ forms.textField({
	label: "Google Maps API Key"|t,
	instructions: '<a href="https://developers.google.com/maps/documentation/javascript/get-api-key#get-an-api-key" target="_blank">Get an API key.</a>',
	id: 'browserApiKey',
	name: 'browserApiKey',
	value: settings.browserApiKey,
	type: 'text',
	required: true
}) }}